@import url("https://fonts.googleapis.com/css2?family=Cagliostro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("../assets/fonts/stylesheet.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   @media (prefers-color-scheme: dark) {
      :root {
         --bg-prim1: #0b0c17;
         --bg-prim2: #101422;
         --bg-seco1: #323946;
         --bg-seco2: #1e2533;
         --text-prim1: #8e9299;
         --text-prim2: #0b5cd6;
         --extra1: #323946;
         --extra2: #abaeb3;
      }
   }
   @media (prefers-color-scheme: light) {
      :root {
         --bg-prim1: #e9edf5;
         --bg-prim2: #ffffff;
         --bg-seco1: #d4d5d7;
         --bg-seco2: #bcc5c8;
         --text-prim1: #444746;
         --text-prim2: #0b5cd6;
         --extra1: #c2e7ff;
         --extra2: #23272e;
      }
   }
}
input,
textarea,
button,
select,
a,
div {
   -webkit-tap-highlight-color: transparent;
}

body {
   -moz-user-select: none; /* firefox */
   -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE */
   user-select: none; /* Standard syntax */
}
/* width */
::-webkit-scrollbar {
   width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: var(--bg-prim1);
   border-radius: 5px;
}

@media (min-width: 924px) {
   ::-webkit-scrollbar {
      width: 8px;
   }
}
