@import url("https://fonts.googleapis.com/css2?family=Cagliostro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("../assets/fonts/stylesheet.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --bg-prim1: #f7f9fc;
   --bg-prim2: #ffffff;
   --bg-seco1: #edf2fc;
   --bg-seco2: #dee1e2;
   --text-prim1: #444746;
   --text-prim2: #0b5cd6;
   --extra1: #c2e7ff;
   --extra2: #23272e;
   --sh-prim1: white;
   --sh-prim2: #170b3b;
}

@media (prefers-color-scheme: system) {
   :root {
      --bg-prim1: #21252b;
      --bg-prim2: #5b5f67;
      --text-prim1: #989aa1;
      --text-prim2: white;
      --extra1: #303443;
      --extra2: #989aa1;
      --sh-prim1: #181a21;
      --sh-prim2: #303443;
   }
}
input,
textarea,
button,
select,
a,
div {
   -webkit-tap-highlight-color: transparent;
}

/* width */
::-webkit-scrollbar {
   width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f1;
   border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}
